[submodule "aimet"]
	path = aimet
	url = https://github.com/fa-ina-tic/aimet.git
	branch = smoothquant
[submodule "MobileQuant"]
	path = MobileQuant
	url = https://github.com/saic-fi/MobileQuant.git
[submodule "smoothquant"]
	path = smoothquant
	url = https://github.com/mit-han-lab/smoothquant.git
